<!DOCTYPE html>
<html>
  <head>
    <title>Budget Planner</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Title --> 
    <div class="title-bar">
      <h1 class="budget-planner">Budget Planner</h1>
      <h2 class="budget-planner-desc">Save. Budget. Invest.</h2>
    </div>
    <!-- Navigation Bar -->
    <nav> 
      <ul class="nav-bar">
        <li>
          <%= link_to("Purchases", purchases_path) %>
        </li>
        <li>
          <%= link_to("Investing 101", investings_path) %>
        </li>
        <li>
          <%= link_to("Monthly Budget Calculator", finances_path) %>
        </li>
        <li>
          <%= link_to("Resources", resources_path) %>
        </li>
      </ul> 
    </nav>

    <%= yield %>
  </body>
</html>
