<!DOCTYPE html>
<html>
  <head>
    <title>Budget Planner</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Budget Planner</h1>
    <nav> 
      <div class="nav-bar"> 
        <%= link_to("Home", purchases_path) %>
        <%= link_to("Investing 101", investings_path) %>
        <%= link_to("Personal Finance", finances_path) %>
        <%= link_to("Resources", resources_path) %>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
